<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <span class="title">Smart Doctor</span>
    <div class="spacer"></div>
    <button mat-button>Réserver un docteur</button>
    <button mat-button>Historique de réservation</button>
    <button mat-button>Profil</button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Barre de Recherche pour la spécialité -->
<div class="search-container">
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Choisir une spécialité</mat-label>
    <!-- Liste déroulante avec mat-select -->
    <mat-select
      [(ngModel)]="selectedSpecialty"
      placeholder="Sélectionnez une spécialité"
    >
      <mat-option *ngFor="let specialty of specialties" [value]="specialty">
        {{ specialty.specialityName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Liste des médecins filtrés -->
  <div class="doctor-list">
    <mat-list>
      <mat-list-item>
        <div class="doctor-item">
          <p><strong></strong></p>
          <p></p>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div>Aucun médecin trouvé</div>
</div>
