<!-- Barre de navigation -->
<div class="navbar">
  <div class="navbar-row">
    <span class="title">Smart Doctor</span>
    <div class="spacer"></div>
    <button class="btn">Réserver un docteur</button>
    <button class="btn">Historique de réservation</button>
    <button class="btn">Profil</button>
  </div>
</div>

<!-- Barre de Recherche pour la spécialité -->
<div class="search-container">
  <label for="specialty">Choisir une spécialité</label>
  <select
    id="specialty"
    [(ngModel)]="selectedSpecialty"
    (change)="getDoctorsBySpecialty()"
    class="select-input"
  >
    <option *ngFor="let specialty of specialties" [value]="specialty.id">
      {{ specialty.specialityName }}
    </option>
  </select>
</div>

<!-- Liste des médecins filtrés -->
<div *ngIf="doctors.length > 0">
  <h3>Liste des Médecins</h3>
  <ul>
    <li *ngFor="let doctor of doctors">
      <div class="doctor-item">
        <p><strong>Nom :</strong> {{ doctor.nom }}</p>
        <p><strong>Email :</strong> {{ doctor.email }}</p>
        <p>
          <strong>Spécialité :</strong>
          {{ doctor.specialitie?.specialityName || "Non spécifiée" }}
        </p>
        <!-- Bouton de réservation pour chaque docteur -->
        <button class="reserve-btn" (click)="Reserver(doctor)">
          Réserver un rendez-vous
        </button>
      </div>
    </li>
  </ul>
</div>

<!-- Message si aucun médecin trouvé -->
<div *ngIf="doctors.length === 0 && selectedSpecialty">
  <p>Aucun médecin trouvé pour cette spécialité.</p>
</div>

<!-- Message si aucune spécialité n'est sélectionnée -->
<div class="no-specialty" *ngIf="!selectedSpecialty">
  <p>
    Veuillez sélectionner une spécialité pour voir les médecins disponibles.
  </p>
</div>

<!-- Formulaire de réservation avec sélecteur de date et heure -->
<div *ngIf="showDatePicker">
  <label for="appointmentDate">Choisir une date :</label>
  <input
    type="date"
    id="appointmentDate"
    [(ngModel)]="appointmentDate"
    class="select-input"
    required
  />

  <label for="appointmentTime">Choisir une heure :</label>
  <input
    type="time"
    id="appointmentTime"
    [(ngModel)]="appointmentTime"
    class="select-input"
    required
  />

  <button class="reserve-btn" (click)="submitReservation(selectedDoctor)">
    Confirmer la réservation
  </button>
</div>
